.carousel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-image {
    height: 60vh;
    
    
}

.carousel-container {
    width: 90vw; 
    margin-left: 50px;
    margin-top: 70px;
}

.carousel-inner {
    /* border-radius: 50px !important; */
}
@media (max-width: 788px) {
    .carousel-container {
        width: 100vw; 
    }
}

.slide-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}